In [22]:
# import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [23]:
# load from a local chromedriver.exe file
import os
executable_path = os.path.join('..','..','..','0_softwares','chromedriver.exe')
browser = Browser('chrome', executable_path=executable_path, headless=False)

In [24]:
# # load from internet chromedriver.exe file
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

# scrape articles

In [25]:
# visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# optional delay for loading the page
# searching for elements with a specific combination of tag (div) and attribute (list_text)
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [26]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text') # select_one selects the first one. same as find()

In [27]:
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"Follow NASA's Perseverance Rover in Real Time on Its Way to Mars"

In [28]:
news_summary = slide_elem.find('div', class_='article_teaser_body').get_text()
news_summary

"A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing."

# scrape images from another website

In [29]:
# visit url
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [30]:
# find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [31]:
# parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [32]:
# find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [33]:
img_url = url + img_url_rel
img_url
# browser.visit(img_url)

'https://spaceimages-mars.com/image/featured/mars3.jpg'

# scrape Mars facts

In [34]:
# use pandas to extract table contents. the url has two tables

df = pd.read_html('https://galaxyfacts-mars.com')[0]  # create df from the first html table
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [35]:
df2 = pd.read_html('https://galaxyfacts-mars.com')[1]  # create df from the second html table
df2

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [36]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [37]:
# browser.quit()

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [81]:
# 1. Use browser to visit the URL 
url = 'https://marshemispheres.com/'

browser.visit(url)

In [82]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.
html = browser.html
img_soup = soup(html, 'html.parser')
imgs = img_soup.find_all('div', class_='description')
for img in imgs:
    title = img.find('a').find('h3').get_text()
    link = url + img.find('a').get('href')
    browser.visit(link)
    full_img_html = browser.html
    full_img_soup = soup(full_img_html, 'html.parser')
    full_img_url = url+full_img_soup.find_all('a', target='_blank')[2].get('href')
    hemisphere_image_urls.append({
        'img_url':full_img_url,
        'title':title
    })

In [83]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [84]:
browser.quit()